@import "tailwindcss";



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-200
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*2a4236  2A4236 */
@theme {
  --color-primary: rgb(2, 52, 45);
  --color-primary-lighter: rgb(42, 77, 80);
  --color-secondary: rgb(3, 30, 29);

}
